body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.sidebar-nav {
  padding: 9px 0;
}

.icon-dash {
  background-position: 0 -168px;
}

.icon-users {
  background-position: -24px -168px;
}

.icon-nameplate {
  background-position: -48px -168px;
}

.icon-light-purple {
  background-image: url("../img/glyphicons-halflings-light-purple.png");
}

.navbar .brand span {
  visibility: hidden;
}

.navbar .brand {
  background-image: url("../img/sprite.png");
  background-position: 15px 2px;
  background-repeat: no-repeat;
  width: 86px;
}